@model List<UserToReturn>
@{
    ViewData["Title"] = "Home Page";
    var listOfUsers = Model;
}

<div class="text-center">
    <h2 class="display-4">List of Registered Users</h2>
</div>

@if(Model == null || !Model.Any())
{
    <div>No record found!</div>
}
else
{
   <div class="users-panel">
        @foreach(var user in Model)
        {
            <div class="user-card">
                <div class="user-card-header">
                    <h2>@user.FirstName @user.LastName</h2>
                </div>
                <div class="user-card-img">
                    <img src="" />
                </div>
                <div class="user-card-footer">
                    @user.Email
                </div>
            </div>
        }
   </div>
}

